.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;


    .form-container {
        border: 1px solid gray;
        padding: 10px;

        Form.Group {
            display: block;
            margin-bottom: 5px;

            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                text-align: center;
            }
        }

        .submit-btn {
            margin-left: 10px;
        }
    }

    
}
